{{ define "main" }}

{{ $context := . }}
{{ $currentTag := $context.Params.slug | lower }}
{{ $country := $context.Params.country | lower }}
<section class="Section">
	{{ with .Content }}<header>{{ . }}</header>{{ end }}
	<!-- {{ partial "nav-model-actions-netlify-cms.html" (dict "site" .Site "model" "company" "forModel" .Title) }} -->
</section>

{{ with .Pages }}
{{ $models := (sort . "Params.created_at" "desc")}}
<section class="Section">
	<details open>
		<summary>
			Companies in
			<strong>
				{{ $currentTag }}
			</strong>
			({{ (len .) }})
			.
		</summary>
		{{ partial "list-companies-jobs" (dict "companies" $models "city" $currentTag "country" $country "closed" true) }}
	</details>
</section>
{{ end }}

{{ end }}
