{{ define "main" }}

{{ $context := . }}
{{ $currentTag := $context.Title | lower }}
<section class="Section">
    {{ with .Content }}<header>{{ . }}</header>{{ end }}
    <!-- {{ partial "nav-model-actions-netlify-cms.html" (dict "site" .Site "model" "company" "forModel" .Title) }} -->
</section>

{{ with .Pages }}
<section class="Section">
    <details open>
	<summary>
	    Companies in
	    <strong>
		{{ $currentTag }}
	    </strong>
	    ({{ (len .) }})
	    .
	</summary>
	{{ partial "list-companies" (sort . "Params.created_at" "desc") }}
    </details>
</section>
{{ end }}

{{ end }}
