{{ $companies := .companies }}
{{ $city := .city }}
{{ $country := .country }}
{{ $closed := .closed }}

<!-- list regular expression, matching known providers -->
{{ $providersRE := ( slice "(.*?).recruitee.com" ".*?greenhouse.io/(.*?)" "(.*?).jobs.personio.de" "(.*?).smartrecruiters.de" ) }}

<!-- see if a company match the list of know job providers -->
<list-items>
    <ul>
	{{ range (sort $companies ".Params.created_at" "desc") }}

	<!-- does a provider match the regex array? -->
	{{ $providerMatch := "" }}
	{{ $url := urls.Parse .Params.job_board_url }}
	{{ range $providersRE }}
	{{ $providerMatch = (or $providerMatch (findRE . $url.Host)) }}
	{{ end }}

	{{ if (or (and $providerMatch (gt (len $companies) 0)) (and .Params.job_board_provider .Params.job_board_hostname))}}
	<li>
	    {{ partial "company-item-jobs.html" (dict "company" . "city" $city "country" $country "closed" $closed) }}
	</li>
	{{ end }}

	{{ end }}
    </ul>
</list-items>
