{{ define "main" }}

{{ with .Content}}
<section class="Section">
	{{.}}
</section>
{{ end }}

{{ $site := .Site }}
{{ $data := $site.Data }}
{{ $featuredSection := "companies" }}
{{ $allCompanies := (where .Site.RegularPages "Section" $featuredSection) }}
{{ $firstCompanies := (first 10 (sort $allCompanies "Params.created_at" "desc")) }}

<section class="Section Section--heightFull Section--heightCenter Section--widthCenter">
	<header class="Section-header">
		<p>Explore and update all content profiles.</p>
	</header>
	<div class="Section-body">
		{{ if (gt (len $allCompanies) 0) }}
		<article>
			<p>
				<strong>Latest companies</strong>
			</p>
			{{ partial "list-companies.html" $firstCompanies }}
			<p>
				<a href='{{ "/companies" | relURL }}'>All companies</a>
			</p>
		</article>
		{{ end }}

	</div>
</section>


{{ end }}
